/* gray */

$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

/* magenta */

$dark_magenta: #cc0070;
$very_dark_magenta: darken($dark_magenta, 25%);

$red: #cc0000;
$green: #00cc00;